html {
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: auto;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    user-select: none;
    background-color: ghostwhite;
}


/* lebih baik dibuat default tag a untuk css */
a{
    text-decoration: none;
    color: inherit;
    /* color inherit = mengikuti warna dari parrent */
}

.navbar{
    width: 100vw;
    height: 10vh;
    padding: 0 10%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #0F1E25;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
}

.brand{
    font-size: 1.4rem;
    color: white;
}

.menu{
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-left: auto;
}

.container{
    width: 100vw;
    height: auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}